<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
                
    <add name="stringconexionCAOEstoque" connectionString="Data Source=CARLOS-PC;Initial Catalog=CAOESTOQUE;Integrated Security=True"
      providerName="System.Data.SqlClient" />

  </connectionStrings>

  <appSettings>
    <add key="quantidademinima" value="5"/>
    <add key="user" value="admin"/>
    <add key="password" value="admin"/>

    <add key="nomebanco" value="CAOESTOQUE"/>
    <add key="caminhobackup" value="C:\Projetos\caoestoque.BAK"/>
  </appSettings>

</configuration>